body {
	background-image: url(http://www.flightgear.org/Backgrounds/background2.gif);
	background-color: white;
	background-repeat: repeat-y;
	color: #191970; 
	font-family: Verdana, Arial, Helvetica, serif;
}

pre { font-family: Courier, monospace; }

#fgfs {
	font-family: Verdana, Arial, Helvetica, serif;
	color: #191970; 
}

A:link    { color: #0000EE }     /* unvisited links */
A:visited { color: #551A8B }     /* visited links */
A:active  { color: red }         /* active links */

.indent {
  margin-left: 2em;
  margin-right: 2em;
}

.alert {
  color: #FF0000;
  font-size: 110%;
  font-weight: bold;
  background-color: transparent;
}
